%h1 Edit Contact

%form{:action => "/#{@contact.id}", :method => :post}
  %p
    %label{:for => "first_name"} First Name
    %input{:type => "text", :name => "first_name", :value => @contact.first_name}

  %p
    %label{:for => "last_name"} Last Name
    %input{:type => "text", :name => "last_name", :value => @contact.last_name}

  %p
    %label{:for => "phone_number"} Phone Number
    %input{:type => "text", :name => "phone_number", :value => @contact.phone_number}

  %p
    %label{:for => "street_address"} Street Address
    %input{:type => "text", :name => "street_address", :value => @contact.street_address}

  %p
    %label{:for => "zip_code"} Zip Code
    %input{:type => "text", :name => "zip_code", :value => @contact.zip_code}

  %p
    %input{:type => "submit"}

